In [25]:
import os
import argparse
from time import time
import pandas as pd
from sqlalchemy import create_engine
from time import time
import psycopg2

In [67]:
df = pd.read_csv('green_tripdata_2019-10.csv.gz')
df.shape

/var/folders/l2/9zzfckdd0j1b0n8sv57nrv7c0000gn/T/ipykernel_54071/2817655980.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-10.csv.gz')

(476386, 20)

In [68]:
df = pd.read_csv('green_tripdata_2019-10.csv.gz')
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0

In [60]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [65]:
print(pd.io.sql.get_schema(df, name='green_trips_data', con=engine))

CREATE TABLE green_trips_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [ ]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv.gz', iterator=True, chunksize=100000)

try:
    while True:
        t_start = time()
        
        # Fetch the next chunk
        df = next(df_iter)

        # Convert datetime columns
        df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'], errors='coerce')
        df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'], errors='coerce')

        # Insert the chunk into the database
        df.to_sql(name='green_trips_data', con=engine, if_exists='append', index=False)

        t_end = time()

        print(f"Inserted another chunk, took {t_end - t_start:.3f} seconds")
except StopIteration:
    print("All chunks have been processed and ingested successfully.")
except Exception as e:
    print(f"An error occurred: {e}")

Inserted another chunk, took 7.973 seconds
Inserted another chunk, took 7.845 seconds
Inserted another chunk, took 7.659 seconds

/var/folders/l2/9zzfckdd0j1b0n8sv57nrv7c0000gn/T/ipykernel_54071/3579211818.py:6: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk, took 7.871 seconds
Inserted another chunk, took 5.202 seconds
All chunks have been processed and ingested successfully.

In [66]:
df = pd.read_csv('taxi_zone_lookup.csv')
df.to_sql(name='taxi_zone', con=engine, if_exists = 'replace', index=False)

265